/vendor/
/storage/*.key
/storage/*.log
/storage/*.sqlite
/storage/app/public/*
!/storage/app/public/.gitignore
!/storage/app/public/.keep

.env
.env.*
!.env.example

/storage/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/logs/*
/public/storage

/node_modules/
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/pnpm-debug.log*
/dist/
/build/
/public/hot
/public/build
/public/mix-manifest.json

/coverage/
/.phpunit.result.cache
/.php_cs.cache
/.php-cs-fixer.cache

.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
/Homestead.json
/Homestead.yaml
/.vagrant

docker-compose.override.yml
*.swp
*.swo