$primary-color: #034833;
$secondary-color: #83cd20;
$third-color: #5f2ded;
$four-color: #e7deff;
$star-color: #ffcd29;
$hover-color: $primary-color; // Thay vì var(--primary-color)
$main-font: "Inter";
$second-font: "Manrope";
$third-font: "Unbounded";